// @import url("./common.css");

@keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.typeText::after {
  content: "|";
  animation: blink 1s step-end infinite;
  color: #fff;
}

body {
  // position: relative;
}
a {
  text-decoration: none;
  color: darkgray;

  &:hover {
    color: rgb(78, 78, 78);
  }
}
//헤더
.header {
  background-color: lavender;
  color: #ddf;
  min-height: 100px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .titleWrap {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    letter-spacing: 0.2ch;
    font-weight: 300;
    margin: 0;
    opacity: 1;
    color: darkgray;
    transition: all 1s;
  }
  .typeText {
    cursor: pointer;
  }
  .typeText.hide {
    display: none;
  }
}

.footer {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer {
  position: relative;

  .footerWrap {
    position: absolute;
    bottom: 20px;
  }

  .iconWrap {
    bottom: 20px;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    .githubIcon {
      font-size: 28px;
      padding-left: 5px;
      padding-right: 5px;
      &:hover {
        color: black;
      }
    }
  }
}

//캔버스
.canvas-wrap {
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);

  canvas {
    display: block;
  }
}
