* {
  box-sizing: border-box;
}
::-webkit-scrollbar {display: none;} 
body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;

  .leftBox {
    display: flex;
    padding-left: 40px;
    align-items: center;

    .homeIcon {
      font-size: 28px;
      padding-right: 30px;
    }

    // 검색창
    .searchWrap {
      position: relative;
      .inputWrap {
        height: 35px;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 15px;
        width: 280px;

        .searchInput {
          outline: none;
          display: block;
          border: none;
          margin-left: 10px;
          width: 220px;
          height: 85%;
          font-size: 15px;
          background-color: transparent;
        }
        .searchIconWrap {
          align-items: center;
          .fa-solid {
            display: block;
            font-size: 18px;
            color: darkgray;
            margin-left: 10px;
          }
        }
      }
      //여기서부터 검색 결과 창
      .searchResult.show {
        // display: block;
        visibility: visible;
      }
      .searchResult::-webkit-scrollbar{display: none;}
      .searchResult {
        // display: none;
        visibility: hidden;
        max-height: 350px;
        overflow: scroll;
        position: absolute;
        width: 280px;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid darkgray;
        background-color: white;
        border-radius: 15px;

        .chartRank {
          .rank.hide {
            display: none;
            // visibility: hidden;
          }
          .rank {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            display: block;
            display: flex;
            align-items: center;
            height: 45px;
            opacity: 0.8;
            cursor: pointer;
            &:hover {
              opacity: 1.1;
            }

            .rankImgWrap {
              width: 35px;
              height: 35px;
              overflow: hidden;
              margin-right: 2px;
              border-radius: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              .rankImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .rankNumber {
              font-weight: 600;
              width: 20px;
              text-align: center;
              align-items: center;
              font-size: 16px;
              margin-right: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }

            .musicName {
              width: 105px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }
            .artistName {
              color: darkgray;
              width: 90px;
              padding-left: 10px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }
          }
        }

        .music.hide {
          display: none;
          // visibility: hidden;
        }
        .music {
          display: block;
          // visibility: visible;
          font-size: 14px;
          color: darkgray;

          overflow: scroll;
          .musicResultWrap {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            display: flex;
            height: 45px;
            opacity: 0.8;
            cursor: pointer;
            &:hover {
              opacity: 1.1;
            }

            .resultAlbumCover {
              width: 40px;
              height: 40px;
              overflow: hidden;
              margin-right: 2px;
              border-radius: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              margin-right: 20px;
              margin-left: 2px;
              .resultAlbumImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .resultMusicName {
              width: 105px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              color: black;
            }
            .resultArtistName {
              color: darkgray;
              width: 90px;
              padding-left: 10px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }
          }
        }
        //singer
        .singer.hide {
          // visibility: hidden;
          display: none;
        }
        .singer {
          // visibility: visible;
          display: block;
          font-size: 14px;
          color: darkgray;

          overflow: scroll;
          .singerResultWrap {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            display: flex;
            height: 45px;
            opacity: 0.8;
            cursor: pointer;
            &:hover {
              opacity: 1.1;
            }

            .resultSingerAlbumCover {
              width: 40px;
              height: 40px;
              overflow: hidden;
              margin-right: 2px;
              border-radius: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              margin-right: 20px;
              margin-left: 2px;
              .resultSingerAlbumImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .resultSingerMusicName {
              width: 105px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
              color: black;
            }
            .resultSingerArtistName {
              color: darkgray;
              width: 90px;
              padding-left: 10px;
              font-size: 14px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
  .rightBox {
    font-size: 24px;
    width: 100px;
    justify-content: space-around;
    display: flex;
    margin-right: 40px;

    .qrIcon {
      font-size: 28px;
    }
  }
}
.noResult.show {
  display: block;
}
.noResult {
  display: none;
  text-align: center;
  align-items: center;
  font-size: 14px;
  color: darkgray;
}
