@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
}

body {
  font-family: "NEXON Lv1 Gothic OTF";
}
caption {
  font-size: 30px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 2px solid black;
}
/* kjnbkjnk */
