* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  z-index: 1;
}
.navbar {
  background-color: white;
}
.profile-title {
  line-height: 7vh;
  padding-left: 2vw;
  background-color: white;
}
.profile-title h1 {
  font-size: 2.3rem;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.left-container {
  position: absolute;
  width: 50%;
  height: 100vh;
  background-color: #f5f5f5;
  top: 7vh;
}
.left_content {
  margin: 0% 10% 0% 10%;
  position: absolute;
  top: 33%;
}
.profile_name {
  font-size: 3rem;
  font-weight: bold;
}
.profile_content {
  font-size: 1.5rem;
  margin: 20px 0px 20px 0px;
}

.chan_left,
.hee_left,
.song_left,
.joon_left {
  position: absolute;
  transform: translateY(-1500px);
  width: 100%;
  height: 100%;
  top: 0;
  transition: 1s;
}
.chan_left,
.hee_left,
.song_left,
.joon_left {
  background-color: #f5f5f5;
  opacity: 0;
}
.chan_left.on,
.hee_left.on,
.song_left.on,
.joon_left.on {
  transform: translateY(0px);
  opacity: 1;
}
.notion_btn,
.blog_btn {
  display: inline-block;
  margin: 0 1rem 1rem 0;
  padding: 0 1.8rem;
  height: 2.4rem;
  width: 125px;
  font: 300 1rem/2.5rem "Rajdhani";
  text-decoration: none;
  letter-spacing: 0.03rem;
  color: #fff;
  font-weight: 500;
  background: #121111;
  border: solid 1px #f9f9f9;
  border-radius: 2px;
  transition: ease 0.55s all;
  text-align: center;
}
.notion_btn:hover,
.blog_btn:hover {
  background-color: #fff;
  color: #121111;
  border: 1px solid #000;
}

/* right - content */
.right-container {
  position: absolute;
  width: 50%;
  right: 0;
  height: 100vh;
  background-color: #f0f0f0;
  top: 7vh;
}

.content_img {
  width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.content_img img {
  transform: translateX(-50%);
  position: relative;
  height: 100%;
  left: 50%;
}

.chan_right,
.hee_right,
.song_right,
.joon_right {
  position: absolute;
  transform: translateX(500px);
  width: 100%;
  height: 100%;
  top: 0;
  transition: 1s;
  transition-delay: 0.5s;
  opacity: 0;
}

.chan_right,
.hee_right,
.song_right,
.joon_right {
  background-color: #f0f0f0;
}

.chan_right.on,
.hee_right.on,
.song_right.on,
.joon_right.on {
  transform: translateX(0);
  opacity: 1;
}

/* right btn */
.btn {
  display: block;
  height: 0.7rem;
  width: 1.8rem;
  margin: 1.2rem 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  transition: 0.2s;
}

.btn.btn_active {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.btn_right {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-80%);
}
.btn_chan,
.btn_hee,
.btn_song,
.btn_joon {
  margin-bottom: 10px;
}
