@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(45deg, #c9d6ff, #e2e2e2);
}

.wrap h1 {
  font-weight: normal;
  font-size: 24px;
  font-family: "Gruppo";
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  left: 50px;
  top: 70px;
}
.wrap h1 span {
  opacity: 0.7;
}
.wrap .auto {
  position: absolute;
  bottom: 60px;
  left: 60px;
}

.wrap .auto li {
  float: left;
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
  transition: all 0.5s;
}

.wrap .auto li:hover {
  opacity: 1;
  transform: scale(1.4);
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper .swiper-slide {
  width: 300px;
  height: 500px;
  position: relative;
  top: 50%;
  margin-top: -230px;
}

.swiper-wrapper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0.4;
  transition: 1s;
  cursor: pointer;
  border-radius: 30px;
}

.wrap .swiper-wrapper .swiper-slide-active .inner {
  opacity: 1;
  border-radius: 30px;
  /* box-shadow: 0px 0px 50px rgba(255, 255, 255); */
}
.wrap .swiper-wrapper .swiper-slide-active .inner::before,
.wrap .swiper-wrapper .swiper-slide-active .inner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-color: #fff;
  border-radius: 30px;
}
/* @keyframes ani {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  1% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
} */
.wrap .swiper-wrapper .swiper-slide-active .inner::before {
  animation: ani 1s ease 1;
}
.wrap .swiper-wrapper .swiper-slide-active .inner::before {
  animation: ani 1s ease 0.3s 1;
}

.wrap .swiper-wrapper .swiper-slide-prev .inner,
.wrap .swiper-wrapper .swiper-slide-next .inner {
  opacity: 0.7;
}

.wrap .swiper-button-prev {
  left: auto;
  right: 100px;
  top: auto;
  bottom: 50px;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.7);
  color: black;
}
.wrap .swiper-button-next {
  left: auto;
  right: 60px;
  top: auto;
  bottom: 50px;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.7);
  color: black;
}

.wrap .swiper-pagination-fraction {
  bottom: auto;
  top: 10vh;
  left: auto;
  right: 50px;
  width: auto;
  font-size: 20px;
  font-family: Gruppo;
  letter-spacing: 1px;
  color: #eee;
}

.wrap .swiper-pagination-fraction span:nth-child(1) {
  font-size: 30px;
  color: #fff;
}
